nav {
	margin-left: 40%;
}
nav a {
	position: relative;
	display: inline-block;  
	color: #000000; 
	font-size: 28px;
	margin-top: -10%;  
	margin-left: 5%;
} 
nav a:hover,
nav a:focus {
	outline: none;
} 
/* Effect 5: same word slide in */
.cl-effect-5 a {
	overflow: hidden; 
} 
.cl-effect-5 a span {
	position: relative;
	display: inline-block;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	transition: 0.3s;
	color: #000000;
} 
.cl-effect-5 a span::before {
	position: absolute;
	top: 100%;
	content: attr(data-hover);
	font-weight: 550;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	color: #000000; 
} 
.cl-effect-5 a:hover span,
.cl-effect-5 a:focus span {
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	transform: translateY(-100%);
} 